    /* Establece un estilo inicial para el bot贸n */
    .custom-btn {
        background-color: #fff;
        color: #000000;
        transition: background-color 0.7s ease !important; /* Transici贸n de color durante 0.7 segundos */
        border: 1px solid #000 !important; 
        cursor: pointer; 
    }

    /* Al pasar el rat贸n sobre el bot贸n, cambia el color */
    .custom-btn:hover {
        background-color: #d6092c  !important;
        color: #fff  !important;
    }

    .dt-buttons{
        display: flex ; 
        justify-content: end ;
        width: 12%;
        margin-left: 87%; 
        padding: 5px;
    }

#miTabla_filter{
    margin-right: 80%; 
}