    /* Establece un estilo inicial para el botón */
    .custom-btn {
        background-color: #fff;
        color: #000000;
        transition: background-color 0.7s ease !important; /* Transición de color durante 0.7 segundos */
        border: 1px solid #000 !important; 
        cursor: pointer; 
    }

    /* Al pasar el ratón sobre el botón, cambia el color */
    .custom-btn:hover {
        background-color: #d6092c  !important;
        color: #fff  !important;
    }


    #miTabla_length{
        margin-left: 20px;
        margin-top: 8px;
        font-size: 15px;
    }

    #miTabla_filter{
        float: none;
        position: absolute;
        z-index: 44;
        left: 80%;
        bottom: 90%;
    }

   