*{
    margin: 0;
    padding: 0;

}

.fondo-perfil{
    background-image: url("../img/fondo_perfil_admin_vehiculos.png"); 
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.logo{
    width: 150px !important;
}

ul > li {
    margin-left: 20px;
}

ul > li .ml{
    margin-right: 20px;
}

.rojo{
    background-color: #d6092c;
}

.imagen-perfil{
    width: 70px;
    border-radius: 50%;
}

.btn-1{
    margin-right: 20px;
}

.altura{
    height: 88%;
}

