body{
    background-image: url(img/fondo_perfil_admin_vehiculos.png);
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
textarea{

   resize: none;
}
