*{
    margin: 0;
    padding: 0; 
}



.fondo-principal{
    
    background-image: url("img_login/fondo_login.jpeg"); 
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.rojo{
    background-color: #d6092c !important ;
}