*{
    margin: 0;
    padding: 0;
}

.fondo-perfil{
    background-image: url("img-perfil.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100hv;
}

.logo{
    width: 150px !important;
}

ul > li {
    margin-left: 20px;
}

ul > li .ml{
    margin-right: 20px;
}